<h2><%= @request.first_name %></h2>
<p><%= @request.last_name %></p>
<p><%= @request.phone_number %></p>
<p><%= @request.email %></p>
<p><%= @request.biography %></p>
<p><%= @request.email_confirmation_date %></p>
<p><%= @request.status %></p>
<p><%= @request.reconfirmation_date %></p>
